<!-- Pagination Component -->
{% if is_paginated %}
<nav aria-label="Pagination navigation" role="navigation">
    <div class="page-nav-wrap text-center wow fadeInUp pt-60" data-wow-delay=".3s">
        <ul role="list">
        {% if page_obj.has_previous %}
        <li>
            <a class="page-numbers icon"
               href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
               aria-label="Previous page">
                <i class="fa-solid fa-arrow-left-long"></i>
            </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li>
                <a class="page-numbers active"
                   href="javascript:void(0)"
                   aria-label="Current page {{ num }}"
                   aria-current="page">{{ num }}</a>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li>
                <a class="page-numbers"
                   href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                   aria-label="Go to page {{ num }}">{{ num }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a class="page-numbers icon"
               href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
               aria-label="Next page">
                <i class="fa-solid fa-arrow-right-long"></i>
            </a>
        </li>
        {% endif %}
        </ul>
    </div>
</nav>
{% endif %}
